* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.black {
  padding: 1.2rem;
  color: #FFF;
  background-color: #000;
}

.ash {
  padding: 1.2rem;
  background-color: #EEE;
}

.component2 {
  border: 4px solid #000;
  padding: 1.2rem;
  color: #FFF;
  background-color: #555;
}

.btn {
  display: block;
  margin: 3px;
  padding: 0.45rem;
  color: #FFF;
  font-weight: bold;
  background-color: brown;
  cursor: pointer;
}
